<?xml version="1.0"?>
<!--
/**
* Copyright 2019 © Roma Technology Ltd. All rights reserved.
* See COPYING.txt for license details.
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <type name="Magento\Checkout\Controller\Onepage\Success">
    <plugin name="creditLimitZohoPlugin" type="RTech\Payment\Plugin\CreditLimitZohoPlugin"/>
  </type>

</config>