<?xml version="1.0"?>
<!--
/**
* Copyright 2019 © Roma Technology Ltd. All rights reserved.
* See COPYING.txt for license details.
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="RTech_Payment::payment_terms"
           title="Payment Terms"
           module="RTech_Payment"
           sortOrder="50"
           action="payment/terms"
           resource="RTech_Attachments::attachments"
           parent="Magento_Backend::stores_settings"/>
    </menu>
</config>